.icon {
    width: 20px;
    height: 20px;
    margin-left: 2px;
}
.login_container {
    display: flex;
    align-items: center;
    cursor: pointer;
  margin: auto;
}
.login_container:hover {
    border-bottom: 1px solid black;
}