.categoryListMobile {
    margin: 10px; 
    cursor: pointer;
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid black;
    background: transparent;
    position: relative;
    transition: 2s ease-in-out;
  }
  
  .categoryListMobile::before, 
  .categoryListMobile::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid black;
    transform: translateY(10px);
  }
  
  .categoryListMobile::after {
    transform: translateY(25px);    
  }
  

.hamburgerMenu {
text-align: center;
background-color: white;
height: 100vh;
z-index: 10;

}


.hamburgerMenuNone {
display: none;
}


