form {
box-shadow: 1px -3px 12px -2px rgba(0,0,0,0.62);
margin: 20px
}
h4{
    text-align: center;
}

.formContainer {
    padding: 20px;
   
}

label {
    padding: 20px;

}

.container {
    display: flex;
    flex-direction: column;
}
input {
   max-width: 200px;
}

button {
   
}