.container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    box-shadow: 3px 9px 17px 6px rgba(181,179,179,0.79);
    padding: 20px;
}
.image {
    width: 100px;
    height: 200px;
}

.name {
   padding: 20px;
   align-self: center;
}

.button {
    align-self: center;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    
}
.button:hover{
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.button:active{
    position:relative;
	top:1px;
}

.totalPrice {
    display: flex;
    padding: 20px;
   justify-content: flex-end;
}

.value {
    align-self: center;
}

.containerFormButton {
    display:flex;
    justify-content: flex-end;
    padding: 20px;
}
.formButton {
    align-self: center;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.formButton:hover{
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.formButton:active{
    position:relative;
	top:1px;
}