.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 35px;
}

.container::before {
    content: "";
    width: 100%;
    height: 1px;
  background-color: black;
}

.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

.image {
  margin: auto;
    width: 50vw;
    height: 50vh;
    margin-bottom: 20px;
}

.description {
    max-width: 50vw;
    margin: auto;
    letter-spacing: 0.1em;
}

.linkToBack {
  text-align: center;
  border-radius: 4px;
    margin:auto;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    height: 50px;
    width: 150px;
    cursor: pointer;
   text-decoration: none;
   transition-duration: 0.4s;
}
.linkToBack:hover {
background-color:#e7e7e7;
}
.svg_icon {
  width: 20px;
  height: 20px;
  margin: auto 10px;
}
