
.container_slider {
    display: flex;
    margin: auto 50px;
    padding: 24px;
}

.container_image {
    margin: auto;
    cursor: pointer;
}

.prev, .next {
cursor: pointer;
padding: 16px;
font-weight: bold;
color: black;
border-radius: 0 3px 3px 0;
transition: 0.6s ease;
border: none;
user-select: none;
background-color: transparent;
}

.none {
    display: none;
}

.image {
   max-width: 450px;
   max-height: 300px;
   border-radius: 8px;
}

.button_next{
margin: auto;
}
.button_prev{
    margin: auto;
}