
.container_slider {
    width: 80%;
    height: 100px;
    margin: auto;
}

.prev, .next {
cursor: pointer;
padding: 16px;
font-weight: bold;
color: white;
border-radius: 0 3px 3px 0;
transition: 0.6s ease;
border: none;
user-select: none;
background-color: transparent;
}

.none {
    display: none;
}

