.container_content {
display: grid;
grid-template-columns: repeat(2,1fr);
text-align: center;
max-height: auto;
}

.single_article_container {
display: flex;
flex-direction: column;
padding: 15px;
margin: 5px;
border-radius: 24px;
box-shadow: 7px 7px 20px 3px rgba(0,0,0,0.2);
}

.title {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}


.button {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    height: 50px;
    left: 10px;
    width: 150px;
    cursor: pointer;
    border-radius: 4px;
   text-decoration: none;
   transition-duration: 0.4s;
}
.button:hover {
    background-color:#e7e7e7;
    }
.svg_icon {
    width: 20px;
    height: 20px;
    margin: auto 10px;
}

.image {
    width: 80%;
    margin: auto;
    padding: 15px;
   
}
