.nav {
    background-color: yellow;
    display: flex;
}

.logo_container {
    width: 30px;
    height: 30px;
    margin:auto 10px;
}

.categoryList {
    display: flex;
    margin:0;
}

.li {
    padding: 5px;
    list-style: none;
}

.input {
   margin: auto 5px;
   
}

.login_container {
    display: flex;
    align-items: center;
}

.shoppingCart_container {
    margin:auto
}