.nav {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo_container {
    width: 30px;
    height: 30px;
    margin:auto;
    cursor: pointer;
}

.categoryList {
    display: flex;
    margin: auto;
    text-align: center;
}

.li {
    padding: 5px;
    list-style: none;
    cursor: pointer;

}
.li:hover {
    border-bottom: 1px solid black;
}
.input {
   margin: auto 5px;
   cursor: text;
 
}

.login_container {
    display: flex;
    align-items: center;
    cursor: pointer;
  margin: auto;
}

.shoppingCart_container {
    margin:auto;
    cursor: pointer;
}

.login_container:hover {
    border-bottom: 1px solid black;
}

@media (max-width:680px) {

    .categoryListMobile {
        margin: auto;
        cursor: pointer;
        width: 40px;
        height: 35px;
        border: 0;
        border-top: 5px solid black;
        background: transparent;
        position: relative;
        transition: 0.3s transform linear;
      }
      
      .categoryListMobile::before, .categoryListMobile::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid black;
        transform: translateY(10px);
      }
      
      .categoryListMobile::after {
        transform: translateY(25px);
        transition: 0.3s transform linear;
      }
      
      .categoryListMobile:focus {
        transform: rotate(45deg) translateY(5px);
        border: none;
      }
      
      .categoryListMobile:focus::after {
        transform: rotate(-90deg) translateX(-10px);
      }
      
}