.nav {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo_container {
    width: 30px;
    height: 30px;
    margin:auto;
    cursor: pointer;
    
}

.categoryList {
    display: flex;
    margin: auto;
    text-align: center;
}

.li {
    padding: 5px;
    list-style: none;
    cursor: pointer;

}
.li:hover {
    border-bottom: 1px solid black;
}
.input {
   margin: auto 5px;
   cursor: text;
 
}

.login_container {
    display: flex;
    align-items: center;
    cursor: pointer;
  margin: auto;
}

.shoppingCart_container {
    margin:auto;
    cursor: pointer;
}

.login_container:hover {
    border-bottom: 1px solid black;
}