.mobileMenu {
  display: none;
}

.nav {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo_container {
    width: 30px;
    height: 30px;
    margin:auto;
    cursor: pointer;
}

.categoryList {
    display: flex;
    margin: auto;
    text-align: center;
}

.li {
    padding: 5px;
    list-style: none;
    cursor: pointer;

}
.li:hover {
    border-bottom: 1px solid black;
}

.login_container {
    display: flex;
    align-items: center;
    cursor: pointer;
  margin: auto;
}

.shoppingCart_container {
    margin:auto;
    cursor: pointer;
}

.login_container:hover {
    border-bottom: 1px solid black;
}


@media(max-width: 680px) {
  .categoryList {
    display: none;
  }
  .mobileMenu {
 display: flex;
 flex-direction: column;
  }
  .li {
font-size: 50px;
text-align: center;
padding: 20px;
  }
}