.gridContainer {
display: grid;
grid-template-columns: repeat(2, 1fr);
text-align: center;
max-height: auto;
margin-bottom: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 5px;
    border-radius: 24px;
    box-shadow: 7px 7px 20px 3px rgba(0,0,0,0.2);
    
}

.title {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

.image {
    margin: auto;
}

.addCardButton {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    height: 50px;
    left: 10px;
    width: 150px;
    cursor: pointer;
}